/* fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    display: flex;
    flex-direction: column;
    background-color: #F2DCE0;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #F23558;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: #F23558;
    width: auto;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #F23558;
    width: auto;
}


div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: #F2F2F2;
    color: #F23558;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    

}

.cajaInfo {
    display: block;
    width: 50%;
    padding: 10px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #F23558;
    text-align: center;
}

.boton {
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
    background-color: #F23558;
    border: solid 2px #F23558;
    width: 100px;
    margin: auto;
    color: #F2F2F2;
    font-size: 0.6rem;
}
